.wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  gap: 10px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.3);
  & div {
    display: flex;
    justify-content: space-between;
  }
}
.progress {
  display: flex;
  flex-direction: row;
  gap: 20px;
  & p {
    width: 90%;
  }
}
.paragraph {

  color: var(--text);
  font-family: var(--fontFamily);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
}