:root {
  --fontFamily: "Montserrat", sans-serif;
  --heading-weight: 500;
  --heading-line: 100%;
  --heading-size: 32px;

  --subheading-weight: 300;
  --subheading-line: 100%;
  --subheading-size: 24px;

  --text-weight: 300;
  --text-line: 100%;
  --text-size: 16px;


}